@font-face {
    font-family: 'Gotham';
    src: url('./assets/fonts/Gotham-Black.otf') format('otf'),
         url('./assets/fonts/GothamBook.ttf') format('truetype')
         url('./assets/fonts/GothamMedium.ttf') format('truetype')
         url('./assets/fonts/GothamBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: Gotham, sans-serif;
    background-color: #F2F5F8;
    color: #024781;
}